.trapezoid {
  border-bottom: 50px solid gray;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  opacity: 0.3;
  height: 0;
  width: 80%;
  filter: drop-shadow(0px 75px 64px #000000);
  -webkit-filter: drop-shadow(0px 75px 64px #000000);
  -moz-filter: drop-shadow(0px 75px 64px #000000);
}

.seat {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    background-color: rgb(123, 122, 122);
    color: #fff;
}

.bookedSeat {
    background-color: rgb(232, 76, 76) !important;
    cursor: no-drop;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.bookingSeat {
    background-color: rgb(18, 176, 18) !important;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.vipSeat {
    background-color: rgb(228, 74, 8);
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
}